<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="container">
  <p class="navbar-brand">
    <%= link_to "#{image_tag("slack-agg-logo.png", class: "img_responsive", size: "300x148")}".html_safe, root_path %>
  </p>
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
        <%= link_to 'Dashboard', dashboard_path, class: 'minor' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'minor' %>
    <% else %>
        <%= link_to "Sign in with Slack", user_omniauth_authorize_path(:slack), class: "btn btn-info btn-default" %>
    <% end %>
  </p>
</nav>
<div class="container-fluid">
  <%= yield %>
</div>
<footer class="col-md-12">
  <div>
      <div class="col-md-12 text-center">
        <p class="">
          <a href="https://www.facebook.com/pages/Slack-Aggregator/430709163764440">
            <%=image_tag( "facebook.png") %>
          </a>
          <a href="https://twitter.com/slackaggregato">
            <%=image_tag( "twitter.png") %>
          </a>
        </p>
        <em>&copy; copyright Aggregator - Andela 2015 - All rights reserved!</em>
      </div>
  </div>
</footer>
</body>
</html>
