<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body class="body">
<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <p class="navbar-brand">
        <i class="fa fa-fw fa-dashboard"></i>
        Slack Aggregator Dashboard</p>
    </div>
    <strong class="nav navbar-text pull-right">
      <i class='fa fa-user'></i><%= current_user.name %>
    </strong>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <%= image_tag current_user.image, class: "img_responsive col-md-5 prof", size: "64" %>
          <span class="col-sm-7">
            <p> Signed in as <%= current_user.nickname %></p>
          </span>
        </li>
        <li>
          <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        </li>
        <li>
          <a href="<%= dashboard_path %>"><i class="fa fa-fw fa-file"></i>Files</a>
        </li>
        <li>
          <a href="<%= links_path %>"><i class="fa fa-fw fa-external-link"></i>Links</a>
        </li>
        <li>
          <a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i><%= current_user.name %>'s Details <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <p>Email :
                <%= current_user.email %></p>
            </li>
            <li>
              <p>Team :
              <%= current_user.team %></p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
